/* banner */
.banner {
  padding: 220px 0 120px;
  position: relative;

  @include desktop-lg {
    padding: 150px 0 100px;
  }

  @include desktop {
    padding: 100px 0 0;
  }

  .illustration {
    position: absolute;
    bottom: 0;
    right: 30px;

    @include desktop-xl {
      max-width: 600px;
    }

    @include desktop {
      display: none;
    }
  }

  .illustration-mobile {
    display: none;

    @include desktop {
      display: block;
    }
  }
}
.banner-creative {
  background-color: $light;
  padding: 70px 0;
  .banner-image {
    @include mobile {
      max-width: 280px !important;
    }
  }
  .title {
    font-weight: 400;
    @include tablet {
      font-size: 42px;
    }
    @include mobile {
      font-size: 36px;
    }
    strong {
      font-weight: 900;
      position: relative;
    }
  }
}

// article-overlapped-list
.article-overlapped-list {
  .card-block {
    padding: 30px;
    margin-left: -60px;
    background: $white;
    @include desktop {
      margin-left: 0;
      padding: 0;
    }
  }
  @include tablet {
    img.w-100 {
      margin-bottom: 20px;
    }
  }
}

// featured-post slider
.featured-post-slider {
  position: relative;
  z-index: 1;
  @include tablet {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  &::before {
    position: absolute;
    content: "";
    height: 35%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $light;
    z-index: -1;
  }
}
.card-overlapped {
  position: relative;
  font-size: 14px;
  .card-block {
    background: $white;
    padding: 15px;
    width: 88%;
    box-shadow: 0px 10px 50px 0px rgba($black, 0.07);
    margin-top: -25px;
    z-index: 3;
    position: relative;
    left: 6%;
    @include mobile {
      width: 94%;
      left: 3%;
      margin-top: -20px;
    }
  }
  .badge {
    background-color: #333;
    color: $white;
    position: absolute;
    right: 25px;
    top: 10px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 7px;
  }
}

.category-list {
  .category-item {
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;

    &:last-child {
      svg {
        transform: scale(0.8);
      }
    }

    @include tablet {
      margin-right: 10px;
      margin-top: 8px;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:last-child {
      display: inline-block;
    }
    a {
      font-weight: 900;
      color: rgba($black, 0.7);
      padding: 14px 25px;
      padding-top: 16px;
      overflow: hidden;
      font-size: 17px;
      border: 1px solid transparent;
      position: relative;
      @include tablet {
        padding: 15px;
      }
      &:hover {
        border-color: $primary-color;
        text-decoration: none;
        color: $primary-color;
      }
      &::after {
        position: absolute;
        content: attr(data-text);
        left: 50%;
        bottom: 50%;
        color: $primary-color;
        font-family: serif;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: .15;
        font-size: 65px;
        line-height: 0;
      }
    }
  }
}

/* blog */
.block {
  padding: 40px;
}

.author-thumb {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/* pagination */
.pagination {
  justify-content: center;

  .page-item {
    margin: 0 2px;

    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 26px;
      text-align: center;
      color: $text-color;
      border: 0;
      border-radius: 0;
      font-weight: bold;

      &:hover {
        background: $primary-color;
        color: $white;
      }
    }

    &.active {
      .page-link {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

.post-title {
  color: $black;
  &:hover {
    text-decoration: underline;
  }
}

.post-meta {
  color: #666;

  a {
    color: inherit;

    &:hover {
      color: $primary-color;
    }
  }
}

.related-post-list {
  a:hover {
    .d-inline-block,
    .d-none {
      width: 20px;
    }
    .d-inline-block {
      display: none !important;
    }
    .d-none {
      display: inline-block !important;
    }
  }
}


// about
.about-banner {
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    content: "";
    height: 50%;
    width: 100%;
    background-color: $light;
    z-index: -2;
    top: 0;
    left: 0;
  }
  img.background_shape {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include desktop {
      width: 180%;
    }
    @include mobile {
      width: 280%;
    }
  }
  .block {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    @include desktop {
      padding-left: 0;
      padding-top: 50px;
    }
    h2 {
      font-weight: 400;
      margin-bottom: 25px;
    }
  }
}

// experiences
.experiences {
  .container {
    padding: 100px;
    padding-bottom: 50px;

    @include desktop {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include tablet {
      padding-left: 30px;
      padding-right: 30px;
    }

    @include mobile {
      padding-left: 15px;
      padding-right: 15px;
    }
    .experiences-items {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        height: calc(100% + 10px);
        top: -40px;
        width: 2px;
        left: calc(50% - 1px);
        background-color: #E1E1E1;
      }
      &::before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        top: -44px;
        left: calc(50% - 11px);
        border: 4px solid lighten(desaturate(adjust-hue($primary-color, -1), 15.98), 28.82);
        background-color: $primary-color;
        border-radius: 50px;
        z-index: 2;
      }
      .experiences-item {
        &::before {
          position: absolute;
          content: "";
          height: 22px;
          width: 22px;
          bottom: 25px;
          right: -92px;
          border: 4px solid lighten(desaturate(adjust-hue($primary-color, -1), 15.98), 28.82);
          background-color: $primary-color;
          border-radius: 50px;
          z-index: 2;

          @include desktop-lg {
            right: -77px;
          }

          @include desktop {
            right: calc(50% - 11px);
          }
        }
        &:nth-child(even)::before {
          display: none;
          @include desktop {
            display: block;
          }
        }
      }
    }
  }
  .card {
    margin-bottom: 80px;
    padding: 7px;
    border-radius: 0;
    box-shadow: 0px 10px 50px 0px rgba($black, 0.07);
    position: relative;
    z-index: 2;
    &::before {
      content: attr(data-item);
      position: absolute;
      right: 15px;
      bottom: 15px;
      height: 35px;
      width: 35px;
      line-height: 35px;
      background-color: lighten(desaturate(adjust-hue($primary-color, -1), 15.98), 28.82);
      color: $primary-color;
      border-radius: 50%;
      text-align: center;
      font-weight: 600;
    }
    .card-body li span {
      min-width: 85px;
    }
  }
}


.content {

  img {
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 20px;
    li {
      margin-bottom: 5px;
    }
  }

  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: $light, $amount: 2);
    }

    tbody {
      background: $light;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    padding: 20px;
    background: $light;
    border-left: 3px solid $primary-color;

    p {
      margin-bottom: 0;
      color: $text-color-dark;
      font-style: italic !important;
    }
  }


  pre {
    padding: 10px 20px;
    background: $light;

    code {
      border: 0;
      background: transparent;
      padding: 0;
    }
  }

  a {
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    padding: 3px 5px;
    background: $light;
    border: 1px solid $border-color;
    border-radius: 3px;
    color: $text-color-dark;
  }

}
// content style
.content {

  a.collapse-head {
    border-bottom: 1px solid #dee2e6;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  .notices p {
    padding: 10px;
    margin-bottom: 0;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: $light;
  }

  .notices.note p::after {
    content: 'Note';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.tip p {
    border-top: 30px solid #78C578;
    background: $light;
  }

  .notices.tip p::after {
    content: 'Tip';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #F0B37E;
    background: #f7f7f7;
  }

  .notices.info p::after {
    content: 'Info';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.warning p {
    border-top: 30px solid #E06F6C;
    background: $light;
  }

  .notices.warning p::after {
    content: 'Warning';
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }
}

// code-tab
.code-tabs {
  border: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 20px;

  .nav-tabs {
    margin-bottom: 0;

    .nav-item {
      padding-left: 0;
      border-right: 1px solid #ddd;

      .nav-link {
        text-decoration: none;
        font-weight: 500;
        border: 0;
      }

      &::before {
        display: none;
      }

      &.active {
        background: $primary-color;

        .nav-link {
          color: $white;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 15px;
  }
}

/* social icon */
.social-icon {
  a {
    height: 40px;
    width: 40px;
    font-size: 14px;
    border: 1px solid $primary-color;
    line-height: 40px;
    text-align: center;
    display: block;
    color: $primary-color;

    &:hover {
      background: $primary-color;
      color: $white;
      text-decoration: none;
    }
  }
}

/* nav tab */
.nav-tab {
  .nav-link {
    padding: 15px;
    color: $text-color;
    border-radius: 5px;

    &.active {
      @extend .shadow;
      color: $white;
      background: $primary-color;
    }
  }
}

// tools
.tools-filter-btn {
  .btn {
    border: 0;
    border-radius: 4px !important;
    &.focus {
      box-shadow: none;
    }
  }
  .active {
    background-color: $primary-color;
    color: #fff;
  }
}
