.navbar-brand{
  flex-basis:35%;
}

.slick-prev,
.slick-next {
  height: 100% !important;
  background-color: #e23a5b !important;
}

.slick-prev:before {
  content: "<" !important;
  color: white !important;
  font-size: 30px !important;
}

.slick-next:before {
  content: ">" !important;
  color: white !important;
  font-size: 30px !important;
}

.disabled {
  background-color: #d5d5d5 !important;
  color: gray !important;
}