{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-1 order-lg-0">
        <div class="shadow">
          {{ range .Params.blog_images }}
            <img loading="lazy" class="img-fluid" src="{{ .image | absURL }}" alt="post-image">
          {{ end }}
          <div class="block content">
            {{.Content}}
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-0 order-lg-1 mb-4 pb-2 pb-lg-0 mb-lg-0">
        <div class="sticky-top" style="top:110px;z-index:1">
          <div class="shadow p-4">
            <div class="d-block d-sm-flex align-items-center justify-content-between">
              <h3 class="mb-3 mb-sm-0">{{ .Title }}</h3>
              <!--<a class="btn btn-outline-primary btn-sm rounded-0" href="{{ .Params.blog_website_link }}" target="_blank">{{ i18n `visit_website` }}</a>-->
            </div>
            <div class="border-top border-bottom py-3 my-4 content">
              {{ .Params.description | markdownify }}
            </div>
            {{ range .Params.blog_info }}
            <div class="mb-3 d-flex align-items-baseline">
              <h6 style="flex: 0 0 75px;">{{.title | markdownify}}</h6>
              <div class="content">{{.content | markdownify}}</div>
            </div>
            {{ end }}
            <div class="d-flex align-items-baseline">
              <h6 style="flex: 0 0 75px;">{{ i18n `added` }}: </h6>
              <div class="content"> {{.PublishDate.Format "02 Jan, 2006"}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
