{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-10">
        <ul class="list-unstyled category-list list-inline align-items-center">
        {{ if eq .Permalink (`tags/` | absLangURL)}}
        <li class="d-block mb-5 pb-3 text-center">
          <h3>Tags</h3>
        </li>
        {{ range site.Taxonomies.tags.ByCount }}
        <li class="category-item list-inline-item text-center shadow">
          <a class="d-block" href="{{ .Page.Permalink }}" data-text="{{ substr .Page.Title 0 1 }}">{{ .Page.Title }} <sup>({{ .Count }})</sup></a>
        </li>
        {{ end }}
        {{ end }}
        {{ if eq .Permalink (`categories/` | absLangURL)}}
        <li class="d-block mb-5 pb-3 text-center">
          <h3>Kategorien</h3>
        </li>
          {{ range site.Taxonomies.categories.ByCount }}
          <li class="category-item list-inline-item text-center shadow">
            <a class="d-block" href="{{ .Page.Permalink }}" data-text="{{ substr .Page.Title 0 1 }}">{{ .Page.Title }} <sup>({{ sub .Count 1 }})</sup></a>
          </li>
          {{ end }}
        {{ end }}
        </ul>
      </div>
    </div>

  </div>
</section>

{{ end }}
