<!-- custom-stylesheets -->
<link rel="stylesheet" href="{{ "/css/custom.css" | relURL }}"/>
<!-- plugins + stylesheet -->
<link rel="preconnect" href="https://fonts.gstatic.com">
{{ $styles := slice }}
{{ range site.Params.plugins.css }}
{{ if findRE "^http" .link }}
<link crossorigin="anonymous" media="all" rel="stylesheet" href="{{ .link | absURL }}" {{.attributes | safeHTMLAttr}} >
{{ else }}
{{ $styles = $styles | append (resources.Get .link) }}
{{ end }}
{{ end }}
{{ $styles := $styles | append (resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS) }}
{{ $styles := $styles | resources.Concat "/css/style.css" | minify  | fingerprint "sha512"}}
<style crossorigin="anonymous" media="all" type="text/css" integrity="{{ $styles.Data.Integrity }}">{{$styles.Content | safeCSS}}</style>

<style>
  .content ul li:not(.nav-item) {
    position: relative;
    margin-bottom: 5px;
    list-style-type: none;
  }
  .content ul li:not(.nav-item) svg {
    margin-right: 6px;
    transform: scale(0.8);
    color: {{ with site.Params.variables }} {{.primary_color}} {{ end }};
  }
  .content ul li:not(.nav-item)::before {
    font-size: 14px;
    font-family: "{{ with site.Params.variables }} {{.icon_font}} {{ end }}";
    font-weight: 900;
    content: "\f069";
    display: none;
  }
  .notices p::before {
    position: absolute;
    top: 2px;
    font-family: "{{ with site.Params.variables }} {{.icon_font}} {{ end }}";
    font-weight: 900;
    content: "\f05a";
    left: 10px;
    display: none;
  }
  .notices p svg {
    position: absolute;
    top: 7px;
    left: 10px;
    color: {{ with site.Params.variables }} {{.white}} {{ end }};
  }
</style>
