{{ define "main" }}

<!-- banner -->
<section class="banner-creative" style="background-image:url('{{ site.Params.banner.bg_image | absURL }}')">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-8 mb-4 mb-lg-0 order-1 order-lg-0">
        <h1 class="title">{{ site.Params.banner.title | markdownify }}</h1>
      </div>
      {{ with site.Params.banner.image }}
      <div class="col-lg-3 col-md-4 col-sm-6 order-0 order-lg-1 mb-5 mb-lg-0">
        <img loading="lazy" class="banner-image img-fluid" src="{{ . | absURL }}" alt="{{ site.Title }}">
      </div>
      {{ end }}
    </div>
    <!-- RSS-Feed-info -->
    <div class="subsection" style="background: linear-gradient(90deg, rgba(153,126,126,0.05) 0%, rgba(153,126,126,0.26512611880689774) 50%, rgba(153,126,126,0.05) 100%);">
      <hr>
      <div class="mb-4 mb-lg-0 order-1 order-lg-0">
        <h3 class="title">
          Möchtest du 
          <strong>
            Up-To-Date
          </strong> 
          bleiben?
        </h3>
        <h5 class="title">
          Dann abboniere einfach unseren 
          <strong>
            RSS-Feed
          </strong> 
          in einem RSS-Reader!
        </h5>
        <a href="#rssfeed">
          <strong>
            {{ i18n "readmore" }}
          </strong>
        </a>
      </div>
      <hr>
    </div>
    <!-- /RSS-Feed-info -->
  </div>
</section>
<!-- /banner -->

<!-- featured-post-slider -->
<div class="featured-post-slider">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row slider-block">
          {{ range where site.RegularPages ".Params.featured" "=" true }}
          <article class="card-overlapped col mb-5">
            <div class="badge">Featured</div>
            {{ if .Params.image }}
            <img loading="lazy" class="w-100" src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
            {{ end }}
            <div class="card-block">
              <h2 class="h4 mb-4"><a class="post-title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
              <div class="mb-3 post-meta">
                <a href="{{ `author/` | absLangURL }}{{ .Params.Author | urlize | lower }}">{{ .Params.Author | title }}</a> <span class="mx-1">|</span>
                {{ .PublishDate.Format "Jan 2, 2006" }} <span class="mx-1">|</span> {{ range .Params.Categories }}
                <a href="{{ `categories/` | absLangURL }}{{ . | urlize | lower }}">{{ . | title }}</a>
                {{ end }}
              </div>
            </div>
          </article>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /featured-post-slider -->

<!-- Popular Categories -->
<div class="popular-categories">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title mb-4 mb-md-3">
          <h2 class="h4">{{ i18n "popular_categories" }}</h2>
        </div>
      </div>
      <div class="col-12">
        <ul class="list-unstyled category-list list-inline align-items-center">
          {{ range site.Taxonomies.categories.ByCount }}
          {{ if ne .Count 1 }}
          <li class="category-item list-inline-item text-center shadow">
            <a class="d-block" href="{{ .Page.Permalink }}" data-text="{{ substr .Page.Title 0 1 }}">{{ .Page.Title }} <sup>({{ sub .Count 1 }})</sup></a>
          </li>
          {{ end }}
          {{ end }}
          <li class="category-item list-inline-item text-center shadow">
            <a class="d-block" href="{{ `categories/` | absLangURL }}">All Categories <span class="fas fa-chevron-right"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Popular Categories -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        {{ $paginator := .Paginate (where site.RegularPages "Section" "in" site.Params.mainSections ) }}
        {{ range $paginator.Pages }}
        {{ .Render "article-w-image" }}
        {{ end }}
        <!-- pagination -->
        <div class="mt-5 pt-4">
          {{"<!-- pagination -->" | safeHTML }}
          {{ $paginator := .Paginator }}
          <!-- Number of links either side of the current page. -->
          {{ $adjacent_links := 2 }}
          <!-- $max_links = ($adjacent_links * 2) + 1 -->
          {{ $max_links := (add (mul $adjacent_links 2) 1) }}
          <!-- $lower_limit = $adjacent_links + 1 -->
          {{ $lower_limit := (add $adjacent_links 1) }}
          <!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
          {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}
          <!-- If there's more than one page. -->
          {{ if gt $paginator.TotalPages 1 }}
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center align-items-center">
              <!-- Previous page. -->
              {{ if $paginator.HasPrev }}
              <li class="page-item">
                <a href="{{ $paginator.Prev.URL }}" class="page-link" aria-label="See Newer Posts">
                  <i class="fas fa-chevron-left"></i>
                </a>
              </li>
              {{ end }}
              <!-- Page numbers. -->
              {{ range $paginator.Pagers }}
              {{ $.Scratch.Set "page_number_flag" false }}
              <!-- Advanced page numbers. -->
              {{ if gt $paginator.TotalPages $max_links }}
              <!-- Lower limit pages. -->
              <!-- If the user is on a page which is in the lower limit.  -->
              {{ if le $paginator.PageNumber $lower_limit }}
              <!-- If the current loop page is less than max_links. -->
              {{ if le .PageNumber $max_links }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              <!-- Upper limit pages. -->
              <!-- If the user is on a page which is in the upper limit. -->
              {{ else if ge $paginator.PageNumber $upper_limit }}
              <!-- If the current loop page is greater than total pages minus $max_links -->
              {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              <!-- Middle pages. -->
              {{ else }}
              {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              {{ end }}
              <!-- Simple page numbers. -->
              {{ else }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              <!-- Output page numbers. -->
              {{ if eq ($.Scratch.Get "page_number_flag") true }}
              <li class="page-item{{ if eq . $paginator }} page-item active {{ end }}">
                <a href="{{ .URL }}" class="page-link">
                  {{ .PageNumber }}
                </a>
              </li>
              {{ end }}
              {{ end }}
              <!-- Next page. -->
              {{ if $paginator.HasNext }}
              <li class="page-item">
                <a href="{{ $paginator.Next.URL }}" class="page-link" aria-label="See Older Posts">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              {{ end }}
            </ul>
          </nav>
          {{ end }}
          {{"<!-- /pagination -->" | safeHTML }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->

<!-- RSS-Feed -->

<section id="rssfeed" class="section">
  <div class="container bg-light py-5">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6 text-center mb-5">
        <h3 class="title">
          Möchtest du 
          <strong>
            Up-To-Date
          </strong> 
          bleiben?
        </h3>
      </div>
    </div>
    <div class="row justify-content-center mb-2">
      <div class="col-lg-10 text-center">
        <h5 class="title">
          Dann abboniere einfach unseren 
          <strong>
            RSS-Feed
          </strong> 
          in einem RSS-Reader!
        </h5>
        <p>
          Egal ob Feedly oder Palabre, hauptsache eine RSS-Reader App die dir gefällt!
        </p>
        <div class="row justify-content-center mb-2">
          <div class="col-lg-10 text-center">
            <div class="col-lg-5 col-md-10 d-inline-block">
              <a href="https://apps.apple.com/us/app/feedly-smart-news-reader/id396069556">
                <img loading="lazy" src="{{ .Site.BaseURL }}/images/appstore.png" alt="appstore-image" style="max-width:100%">
              </a>
            </div>
            <div class="col-lg-5 col-md-10 d-inline-block">
              <a href="https://play.google.com/store/apps/details?id=com.levelup.palabre">
                <img loading="lazy" src="{{ .Site.BaseURL }}/images/gplay.png" alt="gplay-image" style="max-width:100%">
              </a>
            </div>
          </div>
        </div>
        <p>
          Lade dir, wenn du noch keine hast eine dieser beiden herunter und richte dir diesen Link auf unsern Blog ein!
        </p>
        <a href="https://nightshadelink.gitlab.io/raffisradlreise/posts/index.xml">
          https://nightshadelink.gitlab.io/raffisradlreise/posts/index.xml
        </a>
      </div>
    </div>
  </div>
</section>

<!-- /RSS-Feed -->

{{ end }}
