{{ "<!-- about me -->" | safeHTML }}
<div class="widget widget-about">
  {{ with site.Params.about_me }}
  <h5 class="widget-title">{{ .Title }}</h5>
  <p>{{ .bio | markdownify }}</p>
  {{ end }}
  {{ with site.Params.social_profile }}
  {{ if site.Params.social_buttons_sidebar.enable }}
  <ul class="list-unstyled list-inline">
    {{ range . }}
    <li class="list-inline-item mr-3"><a href="{{ .link }}" aria-label="Social Profile"><i class="{{ .icon }}"></i></a></li>
    {{ end }}
  </ul>
  {{ end }}
  {{ end }}
  <a href="{{`about/` | absLangURL }}" class="btn btn-transparent rounded-0 mb-2">{{ i18n "about_me" }}</a>
</div>
